html {
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
}

.nav-right {
    float: right;
}

.nav-logo {
    display: inline-block;
    margin-left: 20px;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 570px;
    margin-bottom: 50px;
    margin-top: -10px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 60px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .project-title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.container {
    max-width: 75%;
}

.nav-container {
    max-width: 85%;
}

.center {
    margin: auto;
    padding: 10px;
  } 

.social-container {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: .5em 0;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgb(164 164 164 / 11%);
    margin-top: -110px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-icons {
    max-width: 40%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4,1fr);
    cursor: pointer;
    font-size: 2.7em;
    color: grey;
}

.fa {
    color: grey;
}

.fa:hover {
    color: black;
    cursor: pointer;
}

.blurb {
    margin: 50px auto;
}

.anchor {
    display: block;
    height: 50px;
    margin-top: -92px;
    visibility: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  float: right;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

li::after {
  background-color: white;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 70%;
  margin-left: 15%;
}

.btn-contact {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #1C539F;
  color: #1C539F;
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}

.btn-contact:before,
.btn-contact:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #1C539F;
  z-index: -1;
  transition: all .35s;
}

.btn-contact:before{
  opacity: .5;
}

.btn-contact:after{
  transition-delay: .2s;
}

.btn-contact:hover{
  color: #fff;
}

.btn-contact:hover:before,
.btn-contact:hover:after{
  top: 0;
}
  
.contact {
  text-align: center;
  margin-top: 100px;
}

.mb {
    margin-bottom: 5em;
}

.contact-text {
  text-align: center;
}

.project {
    text-align: center;
    margin-top: 100px;
}

.project-container {
    max-width: 85%;
}

.project-content {
	display: grid;
	grid-gap: 2.75rem;
	padding: 1rem;
	max-width: 100%;
	margin: 50px auto 100px auto;
	font-family: var(--font-sans);
}

@media (min-width: 600px) {
	.project-content {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 800px) {
	.project-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
    border-radius: 5px;
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
	.card {
		height: 350px;
	}
}

.card:before {
	content: '';
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: all .35s;
	pointer-events: none;
}

.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	transform: translateY(-50%);
	transition: all .35s;
}

.card:nth-child(1):before {
	background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(2):before {
	 background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(3):before {
	background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(4):before {
	background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: all .35s;
	z-index: 1;
}

.content > * + * {
	margin-top: 1rem;
}

.project-title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

.btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
    border-radius: 4px;
}

.btn:hover {
	background-color: #0d0d0d;
}

.btn:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
	}
	.content {
		transform: translateY(calc(100% - 4.5rem));
	}
	.content > *:not(.project-title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: all .35s;
	}
	.card:hover, .card:focus-within {
		align-items: center;
	}
	.card:hover:before, .card:focus-within:before {
		transform: translateY(-4%);
	}
	.card:hover:after, .card:focus-within:after {
		transform: translateY(-50%);
	}
	.card:hover .content, .card:focus-within .content {
		transform: translateY(0);
	}
	.card:hover .content > *:not(.project-title), .card:focus-within .content > *:not(.project-title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: .2s;
	}
	.card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.project-title) {
		 transition-duration: 0.5s;
	}
}

.divider
{
    margin-bottom: 50px;
	position: relative;
	height: 1px;
}

.div-transparent:before
{
    color: grey;
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 2.5px;
	background-image: linear-gradient(to right, transparent, rgb(170, 171, 173), transparent);
}
 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

#topBtn {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #1C539F;
	border: none;
	border-radius: 50%;
	transition: 200ms;
}

#topBtn svg {
	fill: white;
	width: 20px;
	height: 20px;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

#topBtn:before {
	content: 'Top';
	position: absolute;
	transform: translateX(-50%) translateY(-45px);
	font-size: 15px;
	transition: 200ms;
	color: transparent;
	font-weight: bold;
    margin-top: -12px;
}

#topBtn:hover {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	width: 60px;
	height: 60px;
}

#topBtn:hover::before {
	color: black;
}

#topBtn:hover svg {
	animation: bounce 2s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(-50%) translateY(-50%)}
	25% {transform: translateX(-50%) translateY(-65%)}
	50% {transform: translateX(-50%) translateY(-50%)}
	75% {transform: translateX(-50%) translateY(-35%)}
	100% {transform: translateX(-50%) translateY(-50%)}
}

#topBtn:focus {
	outline: none;
}

.blog-container {
    margin-top: 50px;
    text-align: center;
}

.typewrite {
    font-family: Rubik, sans-serif;
    color: white;
    font-size: 1.75em;
    text-decoration: none;
    font-weight: 700;
}

.blog-card {
	display: flex;
	flex-direction: column;
	margin: 4rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.blog-card a {
	color: inherit;
}

.blog-card a:hover {
	color: #1d539f;
}

.photo {
    content: '';
}
.photo:nth-child(1):before {
    background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg);
}

.photo:nth-child(2):before {
    background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg);
}

.blog-card:hover .photo {
	transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}
 
.blog-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}

.blog-card .details, .blog-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}

.blog-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left 0.2s;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
}

.blog-card .details a {
	text-decoration: dotted underline;
}

.blog-card .details ul li {
	display: inline-block;
}

.blog-card .details .author:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f007";
}

.blog-card .details .date:before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f133";
}

.blog-card .details .tags ul:before {
	font-family: FontAwesome;
	content: "\f02b";
	margin-right: 10px;
}

.blog-card .details .tags li {
	margin-right: 2px;
}

.blog-card .details .tags li:first-child {
	margin-left: -4px;
}

.blog-card .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}

.blog-card .description h1, .blog-card .description h2 {
	font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
}

.blog-card .description h2 {
	font-size: 1rem;
	font-weight: 300;
	color: #a2a2a2;
	margin-top: 5px;
}

.blog-card .description .read-more {
	text-align: right;
}
 
.blog-card .description .read-more a {
	color: #1d539f;
	display: inline-block;
	position: relative;
    font-weight: 550;
    text-decoration: none;
}
 
.blog-card .description .read-more a:after {
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin 0.3s, opacity 0.3s;
}
 
.blog-card .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}

.blog-card p {
	position: relative;
	margin: 1rem 0 0;
}

.blog-card p:first-of-type {
	margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #1d539f;
	width: 110px;
	top: -0.75rem;
	border-radius: 3px;
}

.blog-card:hover .details {
	left: 0%;
}

@media (min-width: 640px) {
	.blog-card {
		flex-direction: row;
		max-width: 700px;
	}
	
    .blog-card .meta {
		flex-basis: 40%;
		height: auto;
	}
	
    .blog-card .description {
		flex-basis: 60%;
	}
	
    .blog-card .description:before {
		transform: skewX(-3deg);
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	
    .blog-card.alt {
		flex-direction: row-reverse;
	}
	
    .blog-card.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);
	}
	
    .blog-card.alt .details {
		padding-left: 25px;
	}
}
