p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
}


.nav-right {
    float: right;
}

.nav-logo {
    display: inline-block;
    margin-left: 20px;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 420px;
    margin-bottom: 50px;
    margin-top: -10px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.container {
    max-width: 75%;
}

.nav-container {
    max-width: 85%;
}

.center {
    margin: auto;
    padding: 10px;
  } 

.social-container {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: .5em 0;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgb(164 164 164 / 11%);
    margin-top: -90px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-icons {
    max-width: 40%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4,1fr);
    cursor: pointer;
    font-size: 2.7em;
    color: grey;
}

.fa {
    color: grey;
}

.fa:hover {
    color: black;
    cursor: pointer;
}

.blurb {
    color: white;
    font-size: 1.25em;
}

ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

li::after {
  background-color: white;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 70%;
  margin-left: 15%;
}

.btn-resume {
    font-weight: 500;
    color: #ffe484;
    border: 1px solid #ffe484;
    border-radius: 5px;
    padding: .375rem .75rem;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;
}
