<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <button onclick="topFunction()" id="topBtn" class="noselect"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg></button>
    <header class="nav-bar" style="position: sticky; top:0; z-index: 2">
        <ul class="nav-content nav-container center">
                <a href="/">
                    <div class="nav-logo">
                        <img src="./static/img/logo.svg" />
                    </div>
                </a>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </header>
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ title }}</h1>
        <p class="blurb">  
            <a href="#" class="typewrite" data-period="2000" data-type='[ "Production Engineering <br> Fellow @ MLH.", "Aspiring SRE/DevOps Engineer.", "CS Major @ Blah University.", "I Love to Code." ]'>
                <span class="wrap"></span>
            </a>
        </p>
    </div>
    <div class="container center">
        <div class="social-container center">
            <div class="social-icons center">
                <a href="https://github.com/MLH" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github-square"></i>
                </a>
                <a href="https://www.linkedin.com/company/major-league-hacking/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/mlhacks/?hl=en" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="mailto:hi@mlh.io" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-envelope-o"></i>
                </a>
            </div>
        </div>
    </div>
    <span class="anchor" id="projects"></span>
    <div class="project-container center">
        <div class="project">
            <h2>PROJECTS</h2>
            <div class="divider div-transparent"></div>
        </div>
        <main class="project-content">
            <div class="card">
                <div class="content">
                    <h2 class="project-title">Project #1</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn"><i class="fa fa-github"></i> Repo</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="project-title">Project #2</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn"><i class="fa fa-github"></i> Repo</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="project-title">Project #3</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn"><i class="fa fa-github"></i> Repo</button>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2 class="project-title">Project #4</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn"><i class="fa fa-github"></i> Repo</button>
                </div>
            </div>
        </main>
    </div>
    <span class="anchor" id="blog"></span>
    <div class="container center">
        <div class="blog-container">
            <h2>BLOG</h2>
            <div class="divider div-transparent"></div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(https://i.pinimg.com/736x/71/95/2e/71952e752860e21a660c7db35d17e89e.jpg)"></div>
            </div>
            <div class="description">
                <h1>Learning to Code</h1>
                <h2>Posted on June 9, 2021</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
            </div>
            <div class="description">
                <h1>Blog Title #2</h1>
                <h2>Posted on June 8, 2021</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
    </div>
    <span class="anchor" id="contact"></span>
    <div class="container center">
        <div class="contact">
            <h2>GET IN TOUCH</h2>
            <div class="divider div-transparent"></div>
        </div>
        <div class="contact-text mb">
            <p class="blurb">Actively looking for opportunities in <i>xyz</i>. Feel free to reach out to me!</p>
            <button type="button" class="btn-contact">Say hello!</button>
        </div>
    </div>
</body>
</html>
